# Server environment variables
SERVER_PORT=
NODE_ENV=

# RDS environment variables
RDS_TYPE=
RDS_NAME=
RDS_USER=
RDS_PASS=
RDS_HOST=
RDS_PORT=
RDS_MAX_QUERY_TIME=
# Examples: all, ["error", "info", "log", "migration", "query", "schema", "warn"]
SYSTEM_LOG_INFO=

# Access token variables (Expiration time should in second, ex: 30 = 30 seconds)
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES=

# Refresh token variables (Expiration time should in second, ex: 30 = 30 seconds)
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES=

# Bcrypt salt rounds
BCRYPT_SALT_ROUND=
